@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.form-select {
    width: 25%;
    justify-content: "right";
    display: "flex";
}

.filter {
    justify-content: right;
}

.projects {
    background-color: azure;
}
.projectCards{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-right: 5px;
}